.person{
    margin:6px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding :16px;
    text-align: center;
}

.inputBox{
    margin: auto;
    padding: auto;
    outline: none;
    border: 2px solid #eee;
    border-radius: 5px 5px 5px 5px;    
}
.inputBox:hover{
    box-shadow: 0 1px 1px #ccc;
}

@media (min-width: 500px){
    .person{ 
    width: 500px;
    }
}

@media(min-width:500px){
    .inputBox{
        width: auto;
    }
}